global:
  # The smarthost and SMTP sender used for mail notifications.
  smtp_smarthost: '{{ alertmanager_smtp_smarthost }}'
  smtp_from: '{{ alertmanager_smtp_from }}'
  smtp_auth_username: '{{ alertmanager_smtp_auth_username }}'
  smtp_auth_password: '{{ alertmanager_smtp_auth_password }}'

# The directory from which notification templates are read.
templates:
- '/etc/alertmanager/template/*.tmpl'

route:
{{ alertmanager_route | to_yaml | indent(2, true) }}

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_match:
    severity: 'page'
  target_match:
    severity: 'warning'
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'cluster', 'service']

receivers:
{{ alertmanager_receivers | to_yaml | indent(2, true) }}
